#####################################################
#
# List of approvers for OpenTelemetry Build repository
#
#####################################################
#
# Learn about membership in OpenTelemetry community:
#  https://github.com/open-telemetry/community/blob/master/community-membership.md
#
#
# Learn about CODEOWNERS file format:
#  https://help.github.com/en/articles/about-code-owners
#

# Global owners, will be the owners for everything in the repo. Membership is tracked via https://github.com/open-telemetry/community/blob/main/community-members.md#specifications-and-proto
*   @open-telemetry/specs-approvers

# Owners for the semantic conventions generator tool
/semantic-conventions/      @open-telemetry/specs-approvers @thisthat @Oberon00
/go/                        @open-telemetry/specs-approvers @open-telemetry/go-maintainers @open-telemetry/collector-maintainers