[MESSAGES CONTROL]
# TODO: We should actually fix the warnings instead of disabling them
#   except for the stuff up to fixme, which is fine to ignore / defer to black. 
disable = wrong-import-order, line-too-long, missing-docstring, unused-import, fixme, invalid-name, too-many-instance-attributes, too-many-locals, too-many-statements, too-many-branches, too-many-arguments, too-many-public-methods, too-few-public-methods, protected-access

[FORMAT]
good-names=e,ex
