name: Markdown checks

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
    paths:
      - .github/workflows/markdownlint.yml
      - .markdownlint.yaml
      - '**.md'

permissions:
  contents: read

jobs:
  markdownlint:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout Repo
      uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

    - name: install markdownlint
      run: sudo npm install -g markdownlint-cli

    - name: run markdownlint
      run: markdownlint '**.md' --ignore 'node_modules/**'
