name: Protobuf Docker Image
on:
  push:
    tags: [ '**' ]
    branches: [ main ]
  pull_request:
    branches: [ main ]
    paths:
      - .github/workflows/protobuf-dockerimage.yml
      - protobuf/Dockerfile
      - protobuf/protoc-wrapper

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Build the Docker image
      run: docker build protobuf/. -t build-protobuf
    - name: Push the Docker image
      if: github.ref == 'refs/heads/main' || startsWith(github.ref, 'refs/tags/')
      run: |
        echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin
        function tag_and_push {
          docker tag build-protobuf "otel/build-protobuf:${1}" && docker push "otel/build-protobuf:${1}"
        }
        if [[ "${GITHUB_REF}" == "refs/heads/main" ]]; then
          tag_and_push "latest"
        elif [[ "${GITHUB_REF}" =~ refs/tags/v[0-9]+\.[0-9]+\.[0-9]+ ]]; then
            TAG="${GITHUB_REF#"refs/tags/v"}"
            tag_and_push "${TAG}"
        else
          tag_and_push "${GITHUB_REF#"refs/tags/"}"
        fi