name: Semantic Convention Generator
on:
  push:
    tags: [ '**' ]
    branches: [ main ]
  pull_request:
    branches: [ main ]
    paths:
      - .github/workflows/semconvgen.yml
      - 'semantic-conventions/**'

jobs:
  tests:
    runs-on: ubuntu-latest
    defaults:
      run: 
        working-directory: semantic-conventions/
    steps:
    - uses: actions/checkout@v1
    - uses: actions/setup-python@v2
    - name: install dev-dependencies
      run: |
        pip install -U pip
        pip install -U setuptools wheel
        pip install -r dev-requirements.txt
    - name: Check formatting (black)
      run: |
        pip install -U black
        black --check --diff .
    - name: Fast basic linting (flake8)
      run: flake8 .
    - name: install
      run: pip install -U -e .
    - name: Check imports (isort)
      run: isort --check --diff .
    - name: run tests
      run: pytest -v
    - name: Slow linting (pylint)
      run: pylint *.py src/
    - name: Type checking (mypy)
      run: mypy src/
      

  build-and-publish-docker:
    runs-on: ubuntu-latest
    needs: tests
    steps:
    - uses: actions/checkout@v1
    - uses: actions/setup-python@v2
    - name: Build the wheel
      run: |
       pip install -U pip setuptools wheel
       pip wheel --no-deps ./semantic-conventions/ --wheel-dir semantic-conventions/
    - name: Build the Docker image
      run: docker build semantic-conventions/. -t semconvgen
    - name: Push the Docker image
      if: github.ref == 'refs/heads/main' || startsWith(github.ref, 'refs/tags/')
      run: |
        echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin
        function tag_and_push {
          docker tag semconvgen "otel/semconvgen:${1}" && docker push "otel/semconvgen:${1}"
        }
        if [[ "${GITHUB_REF}" == "refs/heads/main" ]]; then
          tag_and_push "latest"
        elif [[ "${GITHUB_REF}" =~ refs/tags/v[0-9]+\.[0-9]+\.[0-9]+ ]]; then
            TAG="${GITHUB_REF#"refs/tags/v"}"
            tag_and_push "${TAG}"
        else
          tag_and_push "${GITHUB_REF#"refs/tags/"}"
        fi
